root = true

[*.cs]
indent_style = space
indent_size = 2
max_line_length = 100
insert_final_newline = true
end_of_line = lf

csharp_prefer_braces = when_multiline
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false